<h3>Missing Data NAN Find</h3>

In [3]:
import numpy as np
import pandas as pd

In [4]:
data = {
    'A': [1, 2, None, 4, 5],
    'B': [1, 2, 3, 4, 5],
    'C': [1, 2, 3, None, None],
    'D': [1,None, None, None, 5]
}
df = pd.DataFrame(data)
df

     A  B    C    D
0  1.0  1  1.0  1.0
1  2.0  2  2.0  NaN
2  NaN  3  3.0  NaN
3  4.0  4  NaN  NaN
4  5.0  5  NaN  5.0

<h3>Finding the Missing Values</h3>

In [5]:
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False  False   True
2   True  False  False   True
3  False  False   True   True
4  False  False   True  False

In [6]:
df.isna().sum()

A    1
B    0
C    2
D    3
dtype: int64

In [7]:
df.isna().any()

A     True
B    False
C     True
D     True
dtype: bool